In [1]:
import pandas as pd

In [2]:
path_to_data = r"data/groceries.csv"
transactions = pd.read_csv(path_to_data)

# Question no 01

## First five transactions

In [3]:
transactions.head()

,Item(s),Item 1,Item 2,Item 3,Item 4,Item 5,Item 6,Item 7,Item 8,Item 9,...,Item 23,Item 24,Item 25,Item 26,Item 27,Item 28,Item 29,Item 30,Item 31,Item 32
0,4,citrus fruit,semi-finished bread,margarine,ready soups,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,tropical fruit,yogurt,coffee,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,whole milk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,pip fruit,yogurt,cream cheese,meat spreads,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,other vegetables,whole milk,condensed milk,long life bakery product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Question no 2

## Finding item with maximum occourance

In [4]:
no_of_rows, no_of_columns = transactions.shape

no_of_times_bought = {}

for row in range(no_of_rows):
    for column in range(transactions.iloc[row, 0]):
        item = transactions.iloc[row, column + 1]
        if (item in no_of_times_bought.keys()):
            no_of_times_bought[item] = no_of_times_bought[item] + 1
        else:
            no_of_times_bought[item] = 1

In [6]:
max_bought = max(no_of_times_bought, key=no_of_times_bought.get)
print("Item '{0}' is maximum bought '{1}' times.".format(max_bought, max(no_of_times_bought.values())))

Item 'whole milk' is maximum bought '2513' times.

## Length of longest transaction

In [5]:
longest_transaction = max(transactions.iloc[:, 0].values)

32

In [ ]:
list_of_transactions = transactions.iloc[:, 1:].values
for transaction in list_of_transactions:
    for item in transaction:
        if type(item) is not str:
            print(x)

str